body {
  margin: 0;
  padding: 0;
  text-align: left;
  font-family: lucidagrande;
  color: #333132;
  line-height: 1.42857;
  height: 100%;
  background: #f5f5f5;
  word-wrap: break-word;
  word-break: normal;
  word-wrap: break-word;
  word-break: normal;
  word-break: break-word;
  font-size: 16px;
}

@media (max-width: 414px) {
  body {
    font-size: 14px;
  }

}

@media (max-width: 320px) {
  body {
    font-size: 12px;
  }

}

*:focus {
  outline: none;
}

div, dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6,
pre, code, form, input, button,
textarea, p, blockquote,
th, address,
fieldset, legend, img {
  padding: 0;
  margin: 0;
  border: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

em {
  font-style: normal;
  font-weight: normal;
}

textarea {
  resize: none;
}

li, ol {
  list-style: none;
}

a {

  color: #333;
  text-decoration: none;
}

a:hover {
  color: #0068A9;
  text-decoration: underline;
}

/**Start Float Clear**/
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  display: inline-block;
}

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

/**End Float Clear**/

/*text-ellipsis*/
.text-ellipsis {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/*end text-ellipsis*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
}

/*placeholder*/
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #444;
  opacity: 1;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #444;
  opacity: 1;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #7b7b7b;
  opacity: 1;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #7b7b7b;
  opacity: 1;
}

/* public */
.mt25 {
  margin-top: 1.5625em;
}

.mb25 {
  margin-bottom: 1.5625em;
}

.mb20 {
  margin-bottom: 1.25em;
}

.mb30 {
  margin-bottom: 1.875em;
}

.container {
  width: 73.75em;
  margin: 0 auto;
}

.content {
  padding: 0 1.5em;
  margin-top: 12.125em;
}

@media (max-width: 896px) {
  .container {
    width: 100%;
  }

  .content {
    margin-top: 11.875em;
    padding: 0 0.9375em;
  }
}

/* head */
.head-box {
  padding: 0 0 0.77em 0;
  overflow: hidden;
  background: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1006;
}

.head-box .logo {
  float: left;
  width: 6em;
  margin-top: 1em;
  margin-left: 0.5em;
}

.head-box .logo img {
  width: 100%;
}

.head-box .right-info {
  float: right;
  margin-top: 2.8125em;

}

.head-box .left-info {
  float: left;

}

.head-box .info-ul {
  float: left;
  width: 100%;
  text-align: right;
}

.head-box .right-info li {
  font-size: 1em;
  margin-left: 1em;
  display: inline-block;
  color: #0068A9;
}

.head-box .right-info li .greetings {
  color: #0069b4;
}

.head-box .menu-list-out {
  display: none;
}

@media (max-width: 896px) {
  .head-box .container {
    padding: 0 0.9375em;
  }

  .head-box {
    padding: 0;
    overflow: hidden;
    background: #fff;
    width: 100%;
    border-bottom: 1px solid #d3dae0;
  }

  .head-box .logo {
    width: 4em;
    margin-bottom: 1.2em;
    margin-left: 0;
  }

  .head-box .logo img {
    width: 100%;
  }

  .head-box .info-ul {
    display: none;
  }

  .head-box .right-info {
    margin-top: 2.2em;
    width: auto;
  }

  .head-box .menu-hide {
    width: 1.25em;
    height: 1.1875em;
    background: url(../images/menu.png) 0 0 no-repeat;
    float: right;
    cursor: pointer;
    background-size: 100% auto;
  }

  .head-box .menu-show {
    width: 1em;
    height: 1em;
    background: url(../images/close.png) 0 0 no-repeat;

    float: right;
    cursor: pointer;
    margin-top: 0.1em;
    background-size: 100% auto;
  }

  .head-box .menu-list-out {
    float: left;
    width: 100%;
    background: #ededed;
    margin-top: 1em;
    height: 11.5em;
    overflow-x: auto;
    margin-bottom: 1em;
  }

  .head-box .menu-list {
    float: left;
    width: 100%;
  }

  .head-box .menu-list li {
    width: 100%;
    border-bottom: 1px solid #fff;
    overflow: hidden;
    background: #ededed;
    line-height: 2.25em;
    padding-left: 1.25em;
    padding-right: 1.25em;
  }

  .head-box .menu-list li a {
    display: block;
    width: 100%;
    color: #333132;
  }

  .head-box .menu-list .out {
    background: #818181;
    border-bottom: none;
  }

  .head-box .menu-list .out a {
    color: #fff;
  }

  .head-box .menu-list .user a {
    display: inline-block;
    width: auto;
    color: #0068a9;
  }

  .menu-list-hide {
    display: none;
  }

  .menu-list-show {
    display: block !important;
  }

  .select-box-out {
    padding-top: 0.725em;
    width: 100%;
    top: 7.625em;
  }

  .select-box-out .container {
    padding: 0 0.9375em;
  }

  .select-box-out .select-box-left {
    margin-left: 0;
  }

  .select-box-out .select-box-right {
    float: left;
    margin-right: 0;
  }
}

/* footer */
.footer_top {
    overflow: hidden;
    padding: 78px 0 24px 0;
    max-width: 1024px;
    margin: 0 auto;
}

.footer_sub-menu {
    float: none;
}
.footer_sub-menu .footer_menu_item {
    display: inline-block;
}



@media (max-width: 896px) {
  .footer .legal .footer-copyright-menu {
    padding: 0.7em 1.25em;
  }

  .footer .p-text {
    padding: 0.7em 1.25em;
  }

  .footer .copyright .in-box .in-left {
    width: 100%;
    text-align: center;
  }

  .footer .copyright .in-box .in-right {
    width: 100%;
  }

  .footer .copyright .in-box {
    overflow: hidden;
    padding: 0 1.25em;
  }
}
